
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Delete Book</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<h1>Delete Book</h1>

	
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    {% if message %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endif %}
	<form method="POST">
		<label>Book ID:</label>
		<input type="text" name="book_id"><br><br>
		<input type="submit" value="Delete">
	</form>
</body>
</html>
