<!DOCTYPE html>
<html>
  <head>
    <title>Books by Author</title>
  </head>
  <body>
    <h1>Books by Author: {{ author }}</h1> 
    {% if message %}
    <p>{{ message }}</p>
  {% endif %}

    <table>
      <thead>
        <tr>
          <th>Book-ID</th>
          <th>ISBN</th>
          <th>Title</th>
          <th>Genre</th>
          <th>Author</th>
          <th>Year-Of-Publication</th>
          <th>Publisher</th>
          <th>Availablity</th>
          <th>Image</th>
          
        </tr>
      </thead>
      <tbody>
        {% for book in book %}
          <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[5] }}</td>
            <td>{{ book[6] }}</td>
            <td>{{ book[7] }}</td>
            <td><img src="{{ book[8] }}" alt="book cover"></td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
